/* General styling */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/* Importing Fonts  */
@font-face {
    font-family: "circularL";
    src: url("../Media/Fonts/Circular/CircularStd-Light.otf");
  }
  @font-face {
    font-family: "circularM";
    src: url("../Media/Fonts/Circular/CircularStd-Book.otf");
  }
  @font-face {
    font-family: "circularB";
    src: url("../Media/Fonts/Circular/CircularStd-Black.otf");
  }  

/* Navbar styling */
.header{
    width: 100%;
}
nav{
    display: flex;
    padding: 3% 8%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 180px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(119, 115, 115);
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 40%;
    height: 3px;
    opacity: 0;
    background: #b6d4fc;
    display: block;
    margin:0 auto;
    margin-top: 5px;
    transition:all 0.2s ease-in-out;
}
.nav-links ul li:hover::after{
    width: 30%;
    opacity: 1;
}
.nav-links-highlight{
background: #e9f2fc;
color: #2d94f3 !important;
border-radius: 0.24rem;
padding: 10px;
}

/* Home Section Styling  */
#home{
    width: 100%;
    height: 85vh;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 6rem;
    width: 87%;
}
.hleft {
    width: 50%;
    padding-left: 25px;
    padding-right: 10px;
}
.hleft h1 {
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: 2.6rem;
    font-family: "circularM";
    color: #0D264C;
}
.hleft h5 {
    line-height: 32px;
    letter-spacing: 0.02rem;
    font-size: 1.15rem;
    padding-top: 13px;
    max-width: 80%;
    color: #0D264C;
    font-family: "circularL";
}
.hleft button {
    padding: 13px 15px;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #3396ff;
    color: #3396ff;
    border-radius: 5px;
    margin-top: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: "circularM";
}
.hleft button:hover {
      color: white;
      background: #3396ff;
}
.hright {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
.hright img {
    width: 100%;
    overflow: hidden;
    transform: rotate(-9deg) translateY(-40px) translateX(-35px);
    z-index: 1;
}
/* our clients styling */
.our-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F2F7FD;
    transform: skew(0deg, -10deg) translateY(-120px);
    padding-bottom: 6%;
    padding-top: 6%;
}
#clients-content h1{
    font-size: 5.49rem;
    padding-top: 5%;
    transform: skew(0deg, 10deg);
    color: rgb(206, 223, 250);
    text-align: center;
    margin: 0;
}
#clients h3{
    transform: skew(0deg, 10deg); 
    text-align: center;
    justify-content: center;
    color: #3396ff;
    font-size: 2em;
    padding-top: 100px;
}
#clients p{
    padding-top: 5%;
    transform: skew(0deg, 10deg); 
    text-align: center;
    justify-content: center;
}
.clients-container{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(4 ,1fr);
    grid-column-gap: 150px;
    grid-row-gap: 80px;
    transform: skew(0deg, 10deg); 
}
.clients-container img{
    height: auto;
    width: 130px ;
}
.button button{
    transform: skew(0deg, 10deg);
    padding: 15px 17px;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #3396ff;
    color: #3396ff;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: "circularM";
}
.button button:hover{
    color: white;
    background: #3396ff;
}
/* our range of services styling */
#range h3{
    text-align: center;
    justify-content: center;
    color: #3396ff;
    font-size: 2em;
    padding-top: 20px;
}
#range p{
    padding-top:2%;
    text-align: center;
    justify-content: center; 
}
#services{
    display: grid;
    margin: 100px;
    grid-template-columns: repeat(3 ,1fr);
    grid-column-gap: 100px;
    grid-row-gap: 80px;
    text-align: center;
    justify-content: center;
}
#services h3:hover{
    color: #3396ff;
    cursor: pointer;
}
.service-button button{
    padding: 15px 17px;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #3396ff;
    color: #3396ff;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: "circularM";
}
.service-button button:hover{
    color: white;
    background: #3396ff;
}
/* Meet the captain styling */
.captain{
    background: linear-gradient(#F2F7FD, white);    transform: skew(0deg, -10deg) translateY(-120px);
    margin-top:10%;
    display: flex; 
}
#meet-captain{
    transform: skew(0deg, 10deg);
    padding: 10%;
    width: 30%;
    text-align: left;
    justify-content: left;
}
#meet-captain h1{
    color: #3396ff;
}
#meet-captain span{
    font-weight: bold;
    background-color: #D3E3F9;
    padding: 5px;
}
.captain-button button{
    padding: 15px 17px;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #3396ff;
    color: #3396ff;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: "circularM";
}
.captain-button button:hover{
    color: white;
    background: #3396ff;
}
.gaurav-captain{
    width: 40%;
    height: 40%;
    transform: skew(0deg, 10deg);
    margin-top: 10%;
    align-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    color: rgb(117, 113, 113);
}
.gaurav-captain i:hover{
    color: #0D264C;
}
.gaurav-captain img{
    width: 100%;
    height: 100%;
}
.gaurav-captain span{
    font-weight: bold;
}
/* media styling */
.media p{
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
.media-tiles{
    display: flex;
    border: #0D264C;
}
.media-tiles img{
    width: 30px;
    height: 30px;
}
.TET{
    width: 30%;
}